$pad: 8px;

.row {
  margin: 0 0 $pad 0;
}

.row:after {
  content: " ";
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding-right: $pad;

  .row &:last-of-type {
    padding-right: 0;
  }

  img {
    max-width: 100%;
  }
}

.row-pad {
  padding: 20px 0 20px 20px;
}

.row-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

.col-1 {
  width: 8.333333333%;
}

.col-2 {
  width: 16.66666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333%;
}

.col-8 {
  width: 66.666666666%;
}

.col-9 {
  width: 75%;
}

.offset-1 {
  margin-left: 8.333333333%;
}

.offset-2 {
  margin-left: 16.66666666%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}