.l-constrained {
  max-width: 750px;
  margin: auto;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.l-action-column {
  display: table;
  min-height: 100px;
}

.container {
  color: #ffffff;
}