<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>InAction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js" />
    <script src="/resources/js/main.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
    <link href="../../../resources/css/all.css" rel="stylesheet" media="screen" th:href="@{/resources/css/all.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="panel">
                <h1>Peter Sportsy</h1>
                <div class="person"
                     rel="stylesheet"
                     media="screen"/>

                <p>
                    Welcome to the Spring MVC Quickstart application!
                    Get started quickly by signing up.
                </p>

                <p>
                    <a href="/signup" th:href="@{/signup}" class="btn btn-success btn-lg">Sign up</a>
                </p>

                <a class="site-header__link" href="#" th:href="@{/}">Home</a>
                <a class="site-header__link" href="/archive">Archive</a>
                <a class="site-header__link" href="/logout" th:href="@{#}" id="logout-link">Logout</a>
                <a class="site-header__link" href="/signin" th:href="@{/signin}">Sign in</a>
            </div>
            <div class="statistics">
                <div class="panel">
                    <h2>This week:</h2>

                    <p>
                        Statistics and info
                    </p>

                    <div class="ct-chart ct-perfect-fourth"></div>

                    <script th:inline="javascript">
//                        var options = {
//                            // Don't draw the line chart points
//                            showPoint: true,
//                            // Disable line smoothing
//                            lineSmooth: Chartist.Interpolation.simple({
//                                divisor: 2
//                            })
//                        }

                        var data = {
                            // A labels array that can contain any sort of values
                            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                            // Our series array that contains series objects or in this case series data arrays
                            series: [
                                [[${activities}]]
                            ]
                        };

                        // Create a new line chart object where as first parameter we pass in a selector
                        // that is resolving to our chart container element. The Second parameter
                        // is the actual data object.
                        new Chartist.Line('.ct-chart', data);
                    </script>

                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row center">
                <div class="col-3">
                    <div class="panel">

                        <img src="../../../resources/images/user3.png"
                             th:src="@{/resources/images/user3.png}"
                             rel="stylesheet"
                             media="screen"
                             class="col-3 image" />
                        <a href="#">Buddies</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="panel">

                        <img src="../../../resources/images/Chat.png"
                             th:src="@{/resources/images/Chat.png}"
                             rel="stylesheet"
                             media="screen"
                             class="col-3 image" />
                        <a href="#" class="groups-link">Groups</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="panel">

                        <img src="../../../resources/images/Calendar2.png"
                             th:src="@{/resources/images/Calendar2.png}"
                             rel="stylesheet"
                             media="screen"
                             class="col-3 image" />
                        <a href="#" class="events-link">Events</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="panel">

                        <img src="../../../resources/images/award.png"
                             th:src="@{/resources/images/award.png}"
                             rel="stylesheet"
                             media="screen"
                             class="col-3 image" />
                        <a href="#" class="challenges-link">Challenges</a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="news-item">
                    <div>
                        <span class="news-item__name">Jane Hithard</span>
                        <span class="news-item__date">21 Aug at 3:27 pm</span>
                    </div>
                    <span>Anyone up for a hike this weekend?</span>
                </div>
                <div class="news-item">
                    <div>
                        <span class="news-item__name">Simon Swiftleg</span>
                        <span class="news-item__date">20 Aug at 9:11 am</span>
                    </div>
                    <span>Just finished my first 5k. Best feeling ever!
                        <img src="resources/images/example-image.png" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">&copy; 2015 InAction Developers</div>
</div>
</body>
</html>