$BORDER_RADIUS: 2px;

.panel {
  background-color: $COLOR_PANEL;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);

  border-radius: $BORDER_RADIUS;
  padding: 12px;
}

.person {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #DC3522;
  background-image: url('/resources/images/users/bike-person2.jpg');
  background-position: center;
  background-size: cover;
}

.statistics {
  margin-top: 8px;
}