$COLOR_FOREGROUND: #193441;

.site-header {
  background-color: #d1dbbd;

  box-shadow: 0 2px 5px rgba(0,0,0,0.4);

  margin: 0;
  width: 100%;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-header__list {
  padding: 0 20px;
  margin: 0;
}

.site-header__item {
  display: inline-block;
  padding: 10px;
}

.site-header__item:hover {
  background-color: rgba(255,255,255,0.4);
}

.site-header__link {
}

.site-header--select-mode__list {
  display: none;
}

.site-header--select-mode {
  background-color: #FCFFF5;

  .site-header--normal-mode__list {
    display: none;
  }

  .site-header--select-mode__list {
    display: block;
  }

  .site-header__item a {
    color: #A788B2;
  }

}
